*{
    margin: 0;
    padding: 0;
    font-family: 'Anek Malayalam', sans-serif;
}
.main-content{
    width: 100%;
    height: 100vh;
    background-color: #a9a9a947;
}
/* navbar */
#navbar-color{
    background-color: white;
    box-shadow: 0px -11px 4px 10px black;
}
#logo {
    font-size: 25px;
    color: black;
    text-shadow: 1px 1px 1px black;
}
#logo img{
    margin-bottom: 10px;
}
#logo span{
    color: #0ea10e;
}
.navbar-nav{
    margin-left: 100px;
}
.nav-link{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.6s ease;
}
.nav-link:hover{
    background-color: #0ea10e;
    color: white;
    border-radius: 5px;
}
#btn a{
    text-decoration: none;
}
#btn button{
    width: 120px;
    height: 30px;
    font-size: 16px;
    color: #0ea10e;
    border: 2px solid #0ea10e;
    background: transparent;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn button:hover{
    background-color: #0ea10e;
    color: white;
}
@media screen and (max-width:1000px){
    .navbar-nav{
        margin-left: 10px;
    }
}
@media screen and (max-width:1338px){
    #btn{
        margin-right: 50px;
        
    }
    #btn button{
        width: 90px;
        height: 25px;
        font-size: 15px;
    }
    .nav-link{
        font-size: 14px;
    }
  
}
/* navbar */

/*Home Section*/
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 90%;
}
.home .content{
    flex:1 1 400px;
}
.content h3{
    margin-left: 130px;
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
}
.content p{
    margin-left: 130px;
}
.content .btn{
    margin-left: 130px;
    width: 100px;
    height: 35px;
    background-color: #0ea10e;
    color: white;
}
@media screen and (max-width:800px){
    .content h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .content p{
        margin-left: 50px;
    }
    .content .btn{
        margin-left: 50px;
    }
}
@media screen and (max-width:570px){
    .content h3{
        margin-left: 20px;
    }
    .content p{
        margin-left: 20px;
    }
    .content .btn{
        margin-left: 20px;
    }
}

/* home section */

/* dishes content */
#dishe h1{
    margin-top: 50px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #0ea10e;
}
#dishe .card{
    box-shadow: 0 0  4px black;
    cursor: pointer;
}
.checked{
    color: rgba(255,230,0);
    font-size: 15px;
}
#dishe h6{
    margin-top: 20px;
}
#dishe h6 span{
    float: right;
    cursor: pointer;
}
/* dishes content */